<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title><%= title ? `${title} - Watchover` : "Watchover" %></title>
        <link rel="stylesheet" href="/public/style.css">
        <meta name="viewport" content="width=800">

        <!-- Dependency of chart.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.1"></script>
        <!-- TODO: add Chart.Annotations which can be used to fix a TODO for the SR graph-->
        <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.4"></script>
    </head>
    <body>
        <%- include("./_nav.ejs") %>
