<nav>
    <h1><a href="/"><img src="/public/images/watchover.png" class="header-logo"></a></h1>
    <ul>
        <li class="add-stats hidden"><a href="/stats/add">Add stats</a></li>
        <li><a href="/player/list">Players</a></li>
        <li><a class="profile-url"></a></li>
        <li class="settings hidden"><a href="/settings">Settings</a></li>
        <li class="logout hidden"><a href="/logout">Logout</a></li>
        <script>
            const battletag = document.cookie.replace(/(?:(?:^|.*;\s*)battletag\s*=\s*([^;]*).*$)|^.*$/, "$1");
            const profileurl = document.querySelector(".profile-url");
            if (battletag) {
                profileurl.href = `/stats/${encodeURIComponent(battletag)}`;
                profileurl.textContent = "My profile";

                document.querySelector("li.logout").classList.remove("hidden");
                document.querySelector("li.settings").classList.remove("hidden");
                document.querySelector("li.add-stats").classList.remove("hidden");
            } else {
                profileurl.href = "/login";
                profileurl.textContent = "Login";
            }
        </script>
    </ul>
</nav>
