<%- include("./_header.ejs") %>
<main>
    <form action="/gamemode/add" method="POST">
        <h2>Add gamemode</h2>
        <fieldset>
            <label>Gamemode</label><br>
            <select name="gamemode">
                <% for (const modeId in gamemodes) { %>
                    <% const mode = gamemodes[modeId]; %>
                    <option data-role-locked="<%= mode.isRoleLocked %>" data-purple-points="<%= JSON.stringify(mode.rankPP.concat([mode.winPP, mode.drawPP])) %>" data-season="<%= mode.season %>"
                        value="<%= mode.name %>">
                    <%= `${mode.name} (Season ${mode.season})${(mode.isActive ? "" : " (inactive)")}` %></option>
                <% } %>
                <option class="separator" disabled>───────────────</option>
                <option value="_new">(Create new gamemode)</option>
            </select>
            <input class="inline-input" type="text" name="name" placeholder="Name">
        </fieldset>
        <fieldset name="pp">
            <label>Purple Points rewards per match
                <br>
                <span class="pp-header">Win</span>
                <span class="pp-header">Draw</span>
            </label>
            <br>
            <input min="0" name="pp8" class="pp-specifier" type="number" required>
            <input min="0" name="pp9" class="pp-specifier" type="number" required>
            <br><br>
            <label>Purple Points rewards per rank
                <br>
                <span class="pp-header">Bronze</span>
                <span class="pp-header">Silver</span>
                <span class="pp-header">Gold</span>
                <span class="pp-header">Platinum</span>
                <span class="pp-header">Diamond</span>
                <span class="pp-header">Master</span>
                <span class="pp-header">Grand Master</span>
            </label>
            <br>
            <input min="0" name="pp1" class="pp-specifier" type="number" required>
            <input min="0" name="pp2" class="pp-specifier" type="number" required>
            <input min="0" name="pp3" class="pp-specifier" type="number" required>
            <input min="0" name="pp4" class="pp-specifier" type="number" required>
            <input min="0" name="pp5" class="pp-specifier" type="number" required>
            <input min="0" name="pp6" class="pp-specifier" type="number" required>
            <input min="0" name="pp7" class="pp-specifier" type="number" required>
        </fieldset>

        <fieldset>
            <label>Season number</label><br>
            <input type="number" min="1" name="season">
            <label style="margin-left: 20px;"><input type="checkbox" name="rolelocked"> Role Lock</label>
        </fieldset>

        <fieldset>
            <label>Season end</label><br>
            <input required id="ends-date" type="date" min="<%= new Date().getFullYear() %>-<%= String(new Date().getMonth()+1).padStart(2, "0") %>-<%= String(new Date().getDate()).padStart(2, "0") %>"> or 
            <input required id="ends-days" name="ends-days" placeholder="Days" type="number" min="1">
            <input class="inline-submit" style="float: right;" type="submit" value="Create">
        </fieldset>
    </form>
</main>

<script>
    const gamemodeSelector = document.getElementsByName("gamemode")[0];

    document.querySelector("form").onsubmit = () => {
        // Remove disabled to actually still send the value over the POST body
        document.getElementsByName("rolelocked")[0].disabled = false;
    };

    document.getElementById("ends-date").onchange = () => {
        document.getElementById("ends-days").value = Math.round((new Date(document.getElementById("ends-date").value) - new Date()) / 1000 / 60 / 60 / 24);
    };
    document.getElementById("ends-days").onchange = () => {
        const targetDate = new Date(new Date().getTime() + 1000 * 60 * 60 * 24 * parseInt(document.getElementById("ends-days").value));
        document.getElementById("ends-date").value = `${targetDate.getFullYear()}-${String(targetDate.getMonth() + 1).padStart(2, "0")}-${String(targetDate.getDate()).padStart(2, "0")}`;
    };

    /**
     * Called when gamemode selection was changed.
     */
    function updateGamemodeSelection() {
        const option = gamemodeSelector.options[gamemodeSelector.selectedIndex];
        const season = option.dataset.season || 0;
        document.getElementsByName("season")[0].value = parseInt(season) + 1;

        if (option.value === "_new") {
            document.getElementsByName("name")[0].classList.remove("hidden");
        } else {
            const ppValues = JSON.parse(option.dataset.purplePoints);
            for (let i = 0; i < ppValues.length; i++) {
                const pp = ppValues[i];
                document.getElementsByName("pp" + (i + 1))[0].value = pp;
            }
            document.getElementsByName("name")[0].classList.add("hidden");
            document.getElementsByName("rolelocked")[0].checked = (option.dataset.roleLocked !== "false");
        }
    }
    gamemodeSelector.oninput = () => updateGamemodeSelection();
    updateGamemodeSelection();


</script>
<%- include("./_footer.ejs") %>
