<%- include("./_header.ejs") %>
<main>
    <form action="/stats/add" method="POST" data-pp="<%= player.purplePoints %>">
        <h2>Add game results</h2>
        <fieldset>
            <select name="gamemode">
                <% for (const modeId in gamemodes) { %>
                    <% const mode = gamemodes[modeId]; %>
                    <% if (mode.isActive) { %>
                        <option data-win-pp="<%= mode.winPP %>" data-draw-pp="<%= mode.drawPP %>" data-role-locked="<%= mode.isRoleLocked %>" data-matches="<%= mode.matches %>" data-placements="<%= mode.placements %>" data-end="<%= mode.endDate %>" value="<%= modeId %>"><%= mode.name %> Season <%= mode.season %></option>
                    <% } %>
                <% } %>
                <option class="separator" disabled>───────────────</option>
                <option value="_new">(Create new gamemode)</option>
            </select>
            <input style="margin-left: 5px;" type="number" id="sr" name="sr" min="0" placeholder="SR">
            <input class="inline-submit" type="submit" value="Submit">
        </fieldset>

        <%# TODO: we could show the current rank's icon somewhere. not sure where we have space etc %>

        <div class="stats-input">
            <fieldset id="role-picker" class="radio">
                <input type="radio" name="role" id="tank" value="tank" checked>
                <label for="tank"><img alt="Tank" src="/public/images/tank.png"></label>

                <input type="radio" name="role" id="dps" value="dps">
                <label for="dps"><img alt="DPS" src="/public/images/dps.png"></label>

                <input type="radio" name="role" id="support" value="support">
                <label for="support"><img alt="Support" src="/public/images/support.png"></label>
            </fieldset>
            
            <fieldset id="placements" class="radio hidden">
                <input type="radio" name="result" id="win" value="win" checked>
                <label for="win"><img alt="win" class="placement-icon" src="/public/images/win.png"></label>

                <input type="radio" name="result" id="loss" value="loss">
                <label for="loss"><img alt="loss" class="placement-icon" src="/public/images/loss.png"></label>

                <input type="radio" name="result" id="draw" value="draw">
                <label for="draw"><img alt="draw" class="placement-icon" src="/public/images/draw.png"></label>

                <br>
                
                <label for="placements" id="placements-label"></label>
            </fieldset>
        </div>
    </form>

    <h3>History</h3>
    <div class="stretch" id="table-diff"></div>
    <br>
    <div>
        Gamemode ends in <strong id="mode-ends"></strong> days
    </div>
</main>

<script src="/public/scripts/cool-table.js"></script>
<script>  
    const gamemodeSelector = document.getElementsByName("gamemode")[0];
    const form = document.querySelector("form");

    let recent = JSON.parse(localStorage.getItem("add-stats-recent"));
    if (!recent) {
        recent = {matches:{}};
        localStorage.setItem("add-stats-recent", JSON.stringify(recent));
    }

    /**
     * Selects the previously selected gamemode (from localStorage).
     */
    function selectLastGamemode() {
        let newIndex = Array.from(gamemodeSelector.options).findIndex(o => o.value === recent.lastMode);
        if (newIndex < 0) {
            newIndex = 0;
        }
        gamemodeSelector.selectedIndex = newIndex;
    }

    /**
     * Selects the previously selected role (from localStorage).
     */
    function selectLastRole() {
        const modeId = gamemodeSelector.options[gamemodeSelector.selectedIndex].value;
        const lastRole = recent.matches[modeId] && recent.matches[modeId].lastRole;
        for (const roleCheckbox of document.querySelectorAll("#role-picker input[type=radio]")) {
            if (lastRole === roleCheckbox.value) {
                roleCheckbox.checked = true;
            }
        }
    }

    /**
     * Called when gamemode selection was changed.
     */
    function updateGamemodeSelection(selectTheLastRole = true) {
        const option = gamemodeSelector.options[gamemodeSelector.selectedIndex];
        if (option.value === "_new") {
            // Change back to last gamemode, so we don't end the user on _new ever
            selectLastGamemode();
            window.location.assign("/gamemode/add");
            return;
        }

        if (selectTheLastRole)
            selectLastRole();

        const dataset = option.dataset;
        const isRoleLocked = dataset.roleLocked !== "false";
        const placementMatches = JSON.parse(dataset.matches);
        const placementRequirement = parseInt(dataset.placements) - 1; // the 10/10th (or 5/5th) placement is already the first actual match
        let placementCount;
        
        if (isRoleLocked) {
            // Role lock
            document.getElementById("role-picker").classList.remove("hidden");
            placementCount = placementMatches[document.querySelector("input[name=role]:checked").value];
        } else {
            // Free select
            document.getElementById("role-picker").classList.add("hidden");
            placementCount = placementMatches.any;
        }

        if (placementCount < placementRequirement) {
            // Doing placements
            document.getElementById("placements").classList.remove("hidden");
            document.getElementById("sr").classList.add("hidden");
            document.getElementById("sr").required = false;
        } else if (placementCount === placementRequirement) {
            // For the last placement, we also need to specify what SR we placed in
            document.getElementById("placements").classList.remove("hidden");
            document.getElementById("sr").classList.remove("hidden");
            document.getElementById("sr").required = true;
        } else {
            // Normal matches
            document.getElementById("placements").classList.add("hidden");
            document.getElementById("sr").classList.remove("hidden");
            document.getElementById("sr").required = true;
        }

        document.getElementById("placements-label").innerHTML = `<em>${placementCount} of ${placementRequirement + 1}</em> placements`;

        let endsIn = Math.round((parseInt(dataset.end) - new Date().getTime()) / 1000 / 60 / 60 / 24 * 10) / 10;
        if (endsIn > 1) {
            endsIn = Math.round(endsIn);
        }

        document.getElementById("mode-ends").innerText = endsIn;
        if (endsIn <= 7) {
            document.getElementById("mode-ends").style.color = "red";
        } else {
            document.getElementById("mode-ends").style.color = null;
        }

        updateDiffTable();
    }

    for (const input of document.getElementsByTagName("input")) {
        input.oninput = () => updateDiffTable();
    }
    gamemodeSelector.oninput = () => updateGamemodeSelection();
    for (const radio of document.getElementsByName("role")) {
        radio.oninput = () => updateGamemodeSelection(false);
    }

    function updateDiffTable() {
        document.getElementById("table-diff").innerHTML = "";

        const modeOption = gamemodeSelector.options[gamemodeSelector.selectedIndex];
        const modeRecent = recent.matches[modeOption.value];
        const roleRecent = modeRecent && modeRecent[modeOption.dataset.roleLocked ? form.elements["role"].value : "any"];

        /**
         * read the function name it is self explanatory
         * why are we writing jsdoc
         * @param {number} sr Skill rating
         * @returns {number} Index of rank (bronze = 0, silver = 1 etc)
         */
        function srToRankIndex(sr) {
            if (sr < 1500) {
                return 0; // Bronze
            } else if (sr < 2000) {
                return 1; // Silver
            } else if (sr < 2500) {
                return 2; // Gold
            } else if (sr < 3000) {
                return 3; // Platinum
            } else if (sr < 3500) {
                return 4; // Diamond
            } else if (sr < 4000) {
                return 5; // Master
            } else {
                return 6; // Grandmaster
            }
        }

        const red = { r: 85, g: 20, b: 20 };
        const yellow = { r: 80, g: 80, b: 20 };
        const green = { r: 60, g: 120, b: 20 };

        let lastSR, deltaSR, currentSR;
        let lastPP, deltaPP, currentPP;
        let lastResult, currentResult;
        
        if (roleRecent) {
            lastSR = roleRecent.sr || "No SR in placements";
            if (form.elements["sr"].classList.contains("hidden")) {
                currentSR = "No SR in placements";
                deltaSR = "";
            } else {
                currentSR = parseInt(form.elements["sr"].value || 0);
                if (roleRecent.sr) {
                    deltaSR = currentSR - lastSR;
                } else {
                    deltaSR = "";
                }
            }
            lastResult = roleRecent.result;
            currentResult = form.elements["placements"].classList.contains("hidden") ? figureOutResultBasedOnSR(lastSR, currentSR) : form.elements["result"].value;
            lastPP = parseInt(form.dataset.pp);
            deltaPP = currentResult === "win" ? parseInt(modeOption.dataset.winPp) : (currentResult === "loss" ? 0 : parseInt(modeOption.dataset.drawPp));
            currentPP = lastPP + deltaPP;
        } else {
            lastSR = "No previous match";
            deltaSR = "";
            if (form.elements["sr"].classList.contains("hidden")) {
                currentSR = "No SR in placements";
            } else {
                currentSR = parseInt(form.elements["sr"].value || 0);
            }
            lastResult = "No previous match";
            currentResult = form.elements["placements"].classList.contains("hidden") ? figureOutResultBasedOnSR(0, currentSR) : form.elements["result"].value;
            lastPP = parseInt(form.dataset.pp);
            deltaPP = currentResult === "win" ? parseInt(modeOption.dataset.winPp) : (currentResult === "loss" ? 0 : parseInt(modeOption.dataset.drawPp));
            currentPP = lastPP + deltaPP;
        }

        // TODO: This doesn't take care of "rank decay" (keep rank for 3 matches when falling from a higher to lower rank - NOT the case for higher ranks!)
        function formatRank(sr) {
            if (typeof sr !== "number") {
                return sr;
            }
            return `<img class="rank" src="/public/images/rank${srToRankIndex(sr)}.png"> ${Math.round(sr)}`;
        }

        function formatResult(result) {
            if (result !== "win" && result !== "loss" && result !== "draw") {
                return result;
            }
            return `<img alt="${result}" class="placement-icon" src="/public/images/${result}.png">`;
        }

        function formatPP(pp) {
            return `${pp} <img class="pp-inline" title="Purple Points" src="/public/images/purple-points.png">`;
        }

        const tableDiff = new watchover.CoolTable();
        tableDiff.setData([
            [ {title: ""}, {title: "Before"}, {title: "Delta"}, {title: "After"} ],
            [ {title: "Skill Rating"}, {value: lastSR, format: (value) => formatRank(value)}, {value: deltaSR, style: deltaSR !== "" ? { backgroundColor: watchover.CoolTable.getColorGradient({ start: red, middle: yellow, end: green }, watchover.CoolTable.unlerp(deltaSR, -40, 40)) } : undefined}, {value: currentSR, format: (value) => formatRank(value)} ],
            [ {title: "Purple Points"}, {value: lastPP, format: (value) => formatPP(value)}, {value: deltaPP, format: (value) => formatPP(value), style: { backgroundColor: watchover.CoolTable.getColorGradient({ start: red, middle: yellow, end: green }, watchover.CoolTable.unlerp(deltaPP, 0, parseInt(modeOption.dataset.winPp))) }}, {value: currentPP, format: (value) => formatPP(value)} ],
            [ {title: "Result"}, {value: lastResult, format: (value) => formatResult(value)}, {value: ""}, {value: currentResult, format: (value) => formatResult(value)} ]
        ]);
        tableDiff.insert(document.getElementById("table-diff"));
    }

    function figureOutResultBasedOnSR(oldSR, newSR) {
        if (newSR === oldSR) {
            return "draw";
        } else if (newSR > oldSR) {
            return "win";
        } else {
            return "loss";
        }
    }

    selectLastGamemode();
    updateGamemodeSelection();

    form.onsubmit = () => {
        // Use localStorage to remember last saved stats
        const recent = JSON.parse(localStorage.getItem("add-stats-recent"));

        // Remember last selected gamemode
        const modeOption = gamemodeSelector.options[gamemodeSelector.selectedIndex];
        const modeId = modeOption.value;
        recent.lastMode = modeId;

        if (!recent.matches[modeId]) {
            // First time playing that gamemode
            recent.matches[modeId] = {};
        }

        const modeRecent = recent.matches[modeId];
        modeRecent.lastRole = modeOption.dataset.roleLocked ? form.elements["role"].value : "any";

        if (!modeRecent[modeRecent.lastRole]) {
            modeRecent[modeRecent.lastRole] = {};
        }

        const roleRecent = modeRecent[modeRecent.lastRole];
        roleRecent.date = new Date().getTime();
        const srOld = roleRecent.sr;
        roleRecent.sr = form.elements["sr"].classList.contains("hidden") ? undefined : parseInt(form.elements["sr"].value);
        roleRecent.result = form.elements["placements"].classList.contains("hidden") ? figureOutResultBasedOnSR(srOld, roleRecent.sr) : form.elements["result"].value;

        localStorage.setItem("add-stats-recent", JSON.stringify(recent));
    };
</script>
<%- include("./_footer.ejs") %>
