<%- include("./_header.ejs") %>

<div style="display: flex;flex-direction: row;margin: 0 2em;">
    <div style="flex: 1; text-align: left">
        <h1>Git</h1>
        <table>
            <tr>
                <th>Output</th>
                <th>Error</th>
            </tr>
            <tr>
                <td><pre id="output"></pre></td>
                <td><pre id="error"></pre></td>
            </tr>
        </table>

        <br>

        <input class="checkout-target" type="text" placeholder="Branch or commit-SHA">
        <input class="inline-submit git checkout" type="button" value="Checkout"><br><br>
        <input class="git status" type="button" value="Status">
        <input class="inline-submit git pull" type="button" value="Pull"><br><br>
        <input class="log-number" type="number" min="0" max="20" value="5">
        <input class="inline-submit git log" type="button" value="History">
    </div>
    <div style="flex: 1; text-align: left; padding-left: 50px;">
        <h1>Database management</h1>

        <input class="import" type="button" value="Import">
        <input class="selector hidden" type="file"> 
        <input class="inline-submit export" type="button" value="Export">
    </div>
</div>

<script>
    function downloadJSON(obj) {
        const data = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(obj));

        const a = document.createElement("a");
        a.className = "hidden";
        a.href = data;
        a.download = "databaseExport.json";

        const container = document.body;
        container.appendChild(a);

        a.click();
    }

    const fileSalt = document.querySelector(".selector");
    fileSalt.onchange = () => {
        if (fileSalt.files.length > 0) {
            const reader = new FileReader();
            reader.onload = async (e) => {
                const response = await fetch("/database/import", {
                    method: "POST",
                    mode: "cors",
                    cache: "no-cache",
                    credentials: "same-origin",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    redirect: "follow",
                    referrerPolicy: "no-referrer",
                    body: reader.result
                });
                if (response.status !== 200) {
                    location.assign("/");
                }
            };
            reader.readAsText(fileSalt.files[0]);
        }
    };
    document.querySelector(".export").onclick = async () => {
        const response = await fetch("/database/export", {
            method: "POST",
            mode: "cors",
            cache: "no-cache",
            credentials: "same-origin",
            headers: {
                "Content-Type": "application/json"
            },
            redirect: "follow",
            referrerPolicy: "no-referrer"
        });
        const json = await response.json();
        downloadJSON(json);
    };
    document.querySelector(".import").onclick = () => {
        fileSalt.click();
    };

    const controls = document.querySelectorAll(".git");

    async function gitQuery(action, body = {}) {
        document.getElementById("output").textContent = "Loading...";
        document.getElementById("error").textContent = "Loading...";

        for (const control of controls) {
            control.disabled = true;
        }

        const response = await fetch("/git/" + action, {
            method: "POST",
            mode: "cors",
            cache: "no-cache",
            credentials: "same-origin",
            headers: {
                "Content-Type": "application/json"
            },
            redirect: "follow",
            referrerPolicy: "no-referrer",
            body: JSON.stringify(body)
        });

        const data = await response.json();

        document.getElementById("output").textContent = data.output;
        document.getElementById("error").textContent = data.error;

        for (const control of controls) {
            control.disabled = false;
        }
        return data;
    }

    document.querySelector(".pull").onclick = () => {
        gitQuery("pull");
    };

    document.querySelector(".status").onclick = () => {
        gitQuery("status");
    };

    document.querySelector(".checkout").onclick = () => {
        gitQuery("checkout", { target: document.querySelector(".checkout-target").value });
    };

    document.querySelector(".log").onclick = () => {
        gitQuery("log", { number: document.querySelector(".log-number").value });
    };
</script>

<%- include("./_footer.ejs") %>
