<%- include("./_header.ejs") %>

<div style="display: flex; flex-direction: row; margin: 0 100px 0 1em; align-items: center;">
    <div style="flex: 1;">
        <h2>Tanks</h2>
        <ul class="hero-selector" id="tank"></ul>

        <h2>DPS</h2>
        <ul class="hero-selector" id="dps"></ul>

        <h2>Support</h2>
        <ul class="hero-selector" id="support"></ul>

        <button onclick="toggleAll()">Toggle on/off</button>
        <button onclick="generate()">Generate!</button>
    </div>

    <div id="result"></div>
</div>

<script>
    // There's always a way to code something worse in watchover
    const heroes = ["Ana", "Ashe", "Baptiste", "Bastion", "Brigitte", "D.Va", "Doomfist", "Echo", "Genji", "Hanzo", "Junkrat", "Lúcio", "McCree", "Mei", "Mercy", "Moira", "Orisa", "Pharah", "Reaper", "Reinhardt", "Roadhog", "Sigma", "Soldier: 76", "Sombra", "Symmetra", "Torbjörn", "Tracer", "Widowmaker", "Winston", "Wrecking Ball", "Zarya", "Zenyatta"];
    const heroesFixes = {
        "D.Va": "dva",
        "Lúcio": "lucio",
        "Soldier: 76": "soldier-76",
        "Torbjörn": "torbjorn",
        "Wrecking Ball": "wrecking-ball"
    };
    const roles = "sdsdstdddddsddsstddtttddddddttts";
    const actives = [];
    for (const hero of heroes) {
        actives.push(hero === "Reinhardt" || hero === "Zarya");
    }
    
    function getPortrait(hero) {
        hero = heroesFixes[hero] || hero;
        return `https://d1u1mce87gyfbn.cloudfront.net/hero/${hero.toLowerCase()}/hero-select-portrait.png`;
    }

    // TODO: create one toggle for each of the 3 categories
    function toggleAll() {
        const newState = !actives[0];
        for (const li of document.querySelectorAll(".hero-selector li")) {
            if (newState) {
                li.classList.add("active");
                actives[heroes.indexOf(li.dataset.hero)] = true;
            } else {
                li.classList.remove("active");
                actives[heroes.indexOf(li.dataset.hero)] = false;
            }
        }
    }

    function generate() {
        const activeIndices = [];
        for (let i = 0; i < actives.length; i++) {
            if (actives[i]) {
                activeIndices.push(i);
            }
        }

        const result = document.getElementById("result");
        if (activeIndices.length === 0) {
            result.innerHTML = "<div class=\"woah\"><h1>:(</h1></div>";
        } else {
            const randomSelection = activeIndices[Math.floor(Math.random() * activeIndices.length)];
            const hero = heroes[randomSelection];
            result.innerHTML = `<div class="woah"><h1>${hero}</h1><img src="${getPortrait(hero)}"></div>`;
        }
    }

    for (let i = 0; i < heroes.length; i++) {
        const hero = heroes[i];
        const role = roles[i];
        let target;
        if (role === "s") {
            target = document.getElementById("support");
        } else if (role === "t") {
            target = document.getElementById("tank");
        } else if (role === "d") {
            target = document.getElementById("dps");
        }

        const li = document.createElement("li");
        const img = document.createElement("img");
        img.src = getPortrait(hero);

        li.title = hero;
        li.dataset.hero = hero;
        if (actives[i]) {
            li.className = "active";
        }

        li.onclick = () => {
            if (li.classList.contains("active")) {
                li.classList.remove("active");
                actives[i] = false;
            } else {
                li.classList.add("active");
                actives[i] = true;
            }
        };

        li.appendChild(img);
        target.appendChild(li);
    }
</script>
<%- include("./_footer.ejs") %>
