<%- include("./_header.ejs") %>
<main>
    <h2>Please enter your BattleTag™</h2>
    <form action="/player/add" method="POST">
        <input type="text" class="battletag" name="battletag" pattern="^.+#\d+$" placeholder="Username#1234">
        <input class="inline-submit" type="submit" value="Login">
        <div class="error" style="margin-left: 5em;"></div>
    </form>
</main>

<script>
    document.querySelector("form").onsubmit = () => {
        const battletag = document.querySelector("input.battletag").value;
        document.cookie = `battletag=${battletag}`;
    };
</script>
<%- include("./_footer.ejs") %>
