<%- include("./_header.ejs") %>
<main>
    <form action="/settings" method="POST">
        <h2>User settings</h2>
        <label title="Current number of purple points.&#xA;The setting automatically increases as you earn purple points through uploaded match stats.">Purple points</label>
        <fieldset>
            <input class="purple-points" name="purple" type="number" placeholder="PP" min="0" max="6000"
                value="<%= purplePoints %>">
            <button class="purple-points" title="When buying a gold weapon, use this button to quickly subtract 3000 from your owned PP.">-3000</button>
        </fieldset>
        <label title="Formatted HH:MM. Changes the 'Game sessions' statistics.">Game session length</label>
        <fieldset>
            <input class="session-length" title="Formatted HH:MM" type="time" min="00:30" value="04:00" required>

            <input class="inline-submit" style="float: right;" type="submit" value="Save">
        </fieldset>
    </form>
</main>

<script>
    const sneaky = document.querySelector("nav .settings a");
    if (sneaky) {
        sneaky.href = "/config";
    }

    const ppButton = document.querySelector("button.purple-points");
    const ppInput = document.querySelector("input.purple-points");

    ppButton.onclick = () => {
        const value = parseInt(ppInput.value);
        if (value >= 3000) {
            ppInput.value = value - 3000;
            updatePurplePoints();
        }
    };

    /**
     * Called when purple points value was changed.
     */
    function updatePurplePoints() {
        const ppValue = parseInt(ppInput.value);
        const canBuy = !isNaN(ppValue) && ppValue >= 3000;
        ppButton.disabled = !canBuy;
        ppButton.innerHTML = canBuy ? "-3000" : "Too poor";
    }
    ppInput.oninput = () => updatePurplePoints();
    updatePurplePoints();

    function timeToMs(time) {
        const bits = time.match(/^(\d+):(\d+)$/).map(b => parseInt(b));
        return (bits[1] * 60 + bits[2]) * 60 * 1000;
    }

    function msToTime(ms) {
        return `${String(Math.floor(ms / 60 / 60 / 1000)).padStart(2, "0")}:${String(Math.floor(ms / 60 / 1000 % 60)).padStart(2, "0")}`;
    }

    const sessionLength = document.querySelector("input.session-length");
    if (localStorage.getItem("session-length")) {
        sessionLength.value = msToTime(localStorage.getItem("session-length"));
    }
    document.querySelector("form").onsubmit = () => {
        localStorage.setItem("session-length", timeToMs(sessionLength.value));
    };
</script>
<%- include("./_footer.ejs") %>
