<%- include("./_header.ejs") %>
<main>
    <h2>Registered players</h2>
    <label>Search: <input type="text" class="battletag" placeholder="Username#1234"></label>
    <input class="inline-submit show-user" type="button" value="Show">
    <div class="error" style="margin-left: 5em;"></div>

    <ul class="player-list">
        <% let i = 1; %>
        <% for (const battletag in player) { %>
            <% const pl = player[battletag] %>
            <li>
                <a href="/stats/<%= encodeURIComponent(battletag) %>">
                    <em><%= i %></em> <%# TODO: more digits of i will offset the entire contents (maybe add min-width or something) %>
                    <%# TODO: calculate SR and maybe get actual player icon %>
                    <span class="sr-section"><img class="sr-icon" src="/public/images/rank3.png"><%# <span class="t500">69</span> %>2345<span class="sr-label">SR</span></span><img class="player-icon" src="/public/images/fakemei.png">
                    <span class="username"><%= battletag %></span>
                    <span class="games-played"><%= Object.values(pl.matches).flat().length %> GAMES PLAYED</span>
                </a>
            </li>
            <% i++; %>
        <% } %>
    </ul>
</main>

<script>
    document.querySelector("input.show-user").onclick = async () => {
        const error = document.querySelector("main div.error");
        const battletag = document.querySelector("input.battletag").value;
        if (battletag.length === 0) {
            error.textContent = "No battletag specified.";
            return;
        }
        if (!battletag.match(/^.+#\d+$/)) {
            error.textContent = "Battletag is not formatted correctly.";
            return;
        }
        const url = `/stats/${encodeURIComponent(battletag)}`;
        const result = await fetch(url);
        if (result.status !== 200) {
            error.innerHTML = "User not found. If this is you, then try <a href=\"/login\">logging in</a> as that user.";
        } else {
            window.location.assign(url);
        }
    };
</script>
<%- include("./_footer.ejs") %>
