:root {
    --nav-size: 64px;
    --nav-padding: 20px;
    --color-primary: #FF6A00;
    --color-primary-darker: #DB5400;
    --color-secondary: #218FFE;
    --color-secondary-darker: #405275;
    --checkbox-size: 36px;
}

html, body {
    margin: 0 auto;
    background-color: #404040;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    overflow-x: hidden;
}

details {
    border: 2px solid #ddd;
    padding: 0.5em;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.1);
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.error {
    color: #ce3030;
    font-weight: bold;
    font-style: italic;
    margin: 0.5em;
}

nav {
    font-size: large;
    text-align: left;
    background-color: #2B2B2B;
    width: 100%;
    height: var(--nav-size);
    line-height: var(--nav-size);
    margin: 0;
}

nav .header-logo {
    width: auto;
    height: calc(var(--nav-size) - 10px);
    vertical-align: middle;
}

nav h1 {
    display: inline-block;
    margin: 0;
    margin-left: 5px;
}

main h2 {
    margin-top: 0;
    text-align: center;
}

nav ul {
    float: right;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: var(--nav-padding);
}

a, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label {
    font-size: 1.2em;
}

main {
    margin: 0 auto;
    display: inline-block;
    background-color: #333;
    border-radius: 2px;
    margin-top: 20px;
    padding: 20px 40px;
    min-width: 30%;
    max-width: 1300px;
    text-align: left;
}

input[type="text"], input[type="number"], input[type="date"], input[type="time"], input[type="submit"], input[type="button"], button, select {
    padding: 20px;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
    border-radius: 4px;
}

input[type="button"], input[type="submit"], button {
    cursor: pointer;
    padding-left: 60px;
    padding-right: 60px;
    background-color: var(--color-primary);
    color:white;
    min-width: 200px;
}
input[type="button"][title]:not([title=""]), input[type="submit"][title]:not([title=""]), button[title]:not([title=""]) {
    text-decoration: none;
    cursor: pointer;
}
input[type="button"]:hover, input[type="submit"]:hover, button:hover {
    background-color: var(--color-primary-darker);
}
button.small {
    min-width: unset;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #222;
    margin-right: 5px;
}
button.overlaid {
    min-width: unset;
    padding: 10px;
    font-size: 0.75em;
    background-color: #444;
}
button.default {
    background-color: var(--color-secondary);
}
button.sneaky {
    padding: 10px;
    font-size: 2em;
    background-color: unset;
    vertical-align: middle;
}
input[type="number"] {
    width: 100px;
}
input[type="button"]:disabled, input[type="submit"]:disabled, button:disabled, button.purple-points:disabled {
    cursor: default;
    background-color: #afafaf;
}
input[type="date"]:invalid, input[type="time"]:invalid {
    color: #666;
}

input[type="text"] {
    color: black;
    background-color: white;
}

input[type=checkbox] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: var(--checkbox-size);
    height: var(--checkbox-size);

    cursor: pointer;

    border-radius: 4px;
    background-color: white;
    margin-top: -2px; /* alignment expert */
    vertical-align: middle;
    position: relative;
}

input[type=checkbox]:focus {
    outline: 0;
}

input[type=checkbox]:checked {
    border: none;
    background-color: var(--color-secondary);
}

input[type=checkbox]:checked::after {
    content: "";
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    position: absolute;
    background: url("/public/images/tick.png");
    background-size: cover;
}

input[type=checkbox]:disabled:checked::after {
    background: url("/public/images/tick-disabled.png");
}

input[type=checkbox]:disabled {
    cursor: default;
    background-color: #484848;
}

label input[type=checkbox] {
}

fieldset {
    padding: 10px;
    border: none;
}

.stats-input {
    display: flex;
}

.stats-input fieldset {
    display: inline-block;
}

option.separator {
    color: lightgray;
}

.radio label {
    height: 0;
}
.radio input {
    display: none;
}
.radio label img {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}

#role-picker label img {
    border-radius: 2px;
    background-color: var(--color-secondary-darker);
    padding: 10px;
    width: 50px;
    height: auto;
}

#role-picker input[type="radio"]:checked+label img { 
    background-color: var(--color-secondary);
}

img.rank {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

img.pp {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

img.placement-icon {
    border-radius: 100%;
    border: 10px solid;
    width: 50px;
    height: 50px;
}

img.placement-icon.small {
    border: 5px solid;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

img[alt=win].placement-icon {
    border-color: #ade542;
}

img[alt=loss].placement-icon {
    border-color: #a92c3e;
}

img[alt=draw].placement-icon {
    border-color: #b9ae07;
}

img[alt=rate].placement-icon {
    border-color: #55aaff;
}

#placements input[type="radio"]:checked+label img { 
    box-shadow: 0 0 0 5px var(--color-secondary);
}

#placements-label {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.inline-submit {
    margin-left: 15px;
}

.inline-input {
    margin-left: 5px;
}

input[type=number].purple-points {
    background-image: url(/public/images/purple-points.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 16px center; /* add offset for number selector */
    background-origin: content-box;
}

button.purple-points {
    min-width: auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #DE2CFE;
}

table caption {
    font-size: larger;
    margin-bottom: 0.5em;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
    width: 100%;
}

.stretch table {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    width: stretch;
}

table th {
    background-color: #222;
    text-align: center;
}

table th.ct-sortable {
    cursor: pointer !important; /* help cursor from title="" should be ignored */
}

table th.ct-ascending::after {
    content: " ▲";
}

table th.ct-descending::after {
    content: " ▼";
}

[title]:not([title=""]) {
    text-decoration: underline dotted;
    text-decoration-skip-ink: none;
    cursor: help;
}

table td, table th {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #111;
}

fieldset.filter label.headline {
    font-weight: bold;
}

input[type="number"].pp-specifier {
    width: 75px;
}

.pp-header {
    display: inline-block;
    width: 114px;
    font-size: 0.9em;
    color: #aaa;
}

ul.player-list {
    list-style: none;
    width: 100%;
    padding: 0;
}

ul.player-list li {
    transform: none;
    transition: transform 0.08s, border-color 0.1s;
    background-color: rgba(255,255,255,0.6);
    margin: 0.4rem;
    font-size: 1.5em;
    border: solid 2px #aaa;
    border-radius: 2px;
}

ul.player-list li:hover {
    border-color: #22364e;
    transform: scale(1.05);
}

ul.player-list li a {
    font-weight: bold;
    color: #22364e;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    line-height: 3rem;
}

ul.player-list li a:hover {
    text-decoration: none;
}

ul.player-list li .sr-section {
    display: inline-block;
    background-color: #5f2477;
    padding-left: 0.5em;
    padding-right: 1.5em;
    font-style: italic;
    color: white;
    height: 100%;
}

ul.player-list li .sr-label {
    color: #f0f;
    position: absolute;
    margin-top: -0.3em;
    font-size: 0.5em;
}

ul.player-list li .sr-icon {
    vertical-align: bottom;
    height: 3rem;
}

ul.player-list li .t500 {
    position: absolute;
    display: inline-block;
    width: 3rem;
    margin-top: -1.2rem;
    margin-left: -3rem;
    font-size: 0.8em;
    font-family: monospace;
    font-style: normal;
    text-align: center;
}

ul.player-list li .player-icon {
    vertical-align: bottom;
    height: 3rem;
}

ul.player-list li .games-played {
    float: right;
    margin-right: 1.5em;
    color: #5c6777;
    font-size: 0.8em;
}

hr {
    margin-top: 30px;
    border: none;
    height: 64px;
    background: url(https://cdn.discordapp.com/attachments/521296995290185728/702974597095620748/wavy.png);
    background-size: 256px 100%;
}

.hero-selector {
    list-style: none;
}

.hero-selector li {
    display: inline-block;
}

.hero-selector img {
    width: 75px;
}

.hero-selector li.active {
    background-color: var(--color-secondary);
}

.woah {
    animation: 1.5s woah;
    pointer-events: none;
}

@keyframes woah {
    0% { transform: scale(1) }
    10% { transform: scale(3) }
    100% { transform: scale(1) }
}

div.graph {
    position: relative;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid black;
}

div.graph h3 {
    float: left;
    margin-top: 0;
}

div.graph .chart-tools {
    float: right;
}

div.graph .chart-tools button {
    background-color: #444;
    padding: 0.2em;
    width: 80px;
    min-width: auto;
}

.header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    border-bottom: 1px solid black;
    background-color: #333;
    z-index: 20;
}

fieldset.tabs {
    align-self: flex-end;
    padding: 0;
    margin: 0;
}

fieldset.tabs label {
    display: inline-block;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #222;
    
    width: 4em;
    text-align: center;
}

fieldset.tabs label.active {
    color: #fff;
    background-color: var(--color-primary);
}

fieldset.tabs input {
    display: none;
}

img.pp-inline {
    width: 1em;
    vertical-align: text-top;
}

#new-shortcut {
    display: inline-block;
    position: relative;
}

@media (max-width: 1400px) {
    main {
        max-width: unset;
    }

    /* TODO: probably not needed soon (once we make the filters into toggleable role icons) */

    /* Stack filter items */
    fieldset.filter {
        display: flex;
        text-align: right;
        grid-column: 2;
        grid-row: 1 / 3;
    }

    /* Tighter filter checkboxes (else they would take too much header space) */
    fieldset.filter input {
        --checkbox-size: 24px;
        margin-left: 0;
    }

    fieldset.filter label {
        font-size: 1rem;
    }

    /* Header layout:
    Dropdowns|
    ---------|Filters
    Tabs     |
    */
    .header {
        background-color: rgba(51,51,51,0.7);
        display: grid;
        padding-top: 0;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr 1fr;
    }
}

#over-settings {
    position: fixed;

    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: left;
    z-index: 999;
    /* height: 40%; */

    top: 0;
    border-radius: 0 0 10px 10px;
}

#shortcuts {
    display: inline-block;
    font-size: 2em;
    height: 50px;
    margin-left: 8px;
}

#s-button {
    min-width: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
